.filter {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include phone {
		flex-direction: column;
		justify-content: center;
	}

	&__controls {
		flex: 1 0;

		&-list {
			display: flex;
			flex-wrap: wrap;

			@include phone {
				margin-bottom: 25px;
				justify-content: center;
			}
		}

		&-item {
			margin: 5px 45px 5px 0;

			@include phone {
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}