.sort {
	padding: $sort-p;

	@include phone {
		padding-bottom: 40px;
	}
	
	&__head {
		display: inline-block;
	}

	&__title {
		font-size: $fz-title;
		padding-right: $sort-t;

		@include phone {
			font-size: 16px;
		}
	}

	&__body {
		display: inline-block;
	}
}