@font-face {
  font-family: 'Quicksand';
  src: url('../font/Quicksand-Bold.woff2') format('woff2'),
			 url('../font/Quicksand-Bold.woff') format('woff'),
			 url('../font/Quicksand-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}