.svg {
	display: inline-block;
	fill: currentColor;
}

.svg-arrow {
	width: 12px;
	height: 8px;
}
.svg-arrow-1 {
	width: 10.031px;
	height: 12px;
}
.svg-checked {
	width: 15px;
	height: 12px;
}
.svg-google {
	width: 200px;
	height: 66px;
}
