$color-text: #424242;
$color-br: #aa9b77;
$color-hr: #cccccc;

$bgc-card: #f5f6f7;

$fz-but: 14px;
$fz-contr: 16px;
$fz-title: 18px;
$fz-title-block: 20px;
$fz-price: 22px;
$fz-card-prod: 22px;  $lh-card-prod: 2.273;

$check-bw: 2px;
$check-br: 3px;
$check-w: 29px;
$check-h: 28px;

$snip-w: 320px;
$snip-h: 380px;
$snip-offset: 18px;
$snip-color: 21px; 
$snip-act-bw: 6px;
$snip-act-br: 3px;

$prod-sec-p: 60px 0 100px;
$prod-sec-t: 50px;
$prod-sec-bw: 2px;

$sort-p: 30px 0 50px;
$sort-t: 40px;

$card-br: 6px;
$card-pad: 60px 20px;
$card-value-off: 40px;
$card-col: 23px;
$card-col-off-x: 6px;