.snippet
	.snippet__sizes 10litri

	.snippet__colors
		ul.snippet__colors-list
			li.snippet__colors-item.blue
			li.snippet__colors-item.yellow
			li.snippet__colors-item.gray

	img.snippet__img(src='./img/Layer 1.png')
	span.snippet__title t-shirt
	span.snippet__price 5,00$
